/* Errors */

.errors {
  color: red;
}

.search-error {
  font-size: 14px;
}

/* Reply Form */

.reply-form {
  display: none;
}

/* Recent Posts */

.recent_posts {
  border-style: none;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #000000;
}

.recent_posts:last-child {
  border-bottom: none;
}

.list-group .recent_posts:hover {
  background-color: #b6b6b6;
  color: #FFFFFF;
  border-radius: 0;
}

/* Notifications */

.notification-button {
  margin-top: 10px;
}

/* Profile Page */

.profile {
  font-size: 18px;
}

.profile-button {
  margin-left: 5px;
}

